ul, ol {
  /* make bullet left-flush */
  padding-left: 18px;
}

.table {
  width: auto;
}

/*.pagedtable, .pagetable table {*/
  /*width: auto;*/
/*}*/

.snippet th, .snippet td {
  text-align: center;
}

table.dataTable tfoot td, table.dataTable thead td {
  padding: 0 0 0 0;
}

.well {
  padding: 8px;
  margin-bottom: 5px;
}

.col-sm-4 {
  max-width: 300px;
}

.checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.form-group {
  margin-top: 5px;
  margin-bottom: 0;
}

.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
  margin-left: 0;
}

.radio-inline, .checkbox-inline {
  margin-right: 10px;
}


/* trying out https://stackoverflow.com/questions/45062397/make-bootstrap-modal-draggable-and-keep-background-usable/45062993
#manage_help {
  position: relative;
}

.modal-dialog {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 10px;
}*/

.modal-dialog {
  padding-top: 80px;
  padding-left: 80px;
  width: 850px;
  overflow-y: initial !important
}

.modal-sm {
  width: 600px;
}

.modal-body {
  max-height: 600px;
  overflow-y: auto;
}

img {
  max-width: 85% !important;
  height: auto;
}

pre, code, pre code {
  overflow: auto;
  white-space: pre;
  /* based on https://stackoverflow.com/a/30338814/1974918*/
  word-wrap: normal;
  background-color: #ffffff;
}

#state_save {
  font-family: FontAwesome, "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: black;
}

/* allow all textarea and multiple-select inputs to resize vertically */
textarea, select {
  resize: vertical;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.color_bar {
  background-color: blue;
}

/* from: https://github.com/swarm-lab/editR/blob/master/inst/app/www/editR.css */
#rmd_edit, #r_edit {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 50%;
  padding-right: 10px;
}

/* from: https://github.com/swarm-lab/editR/blob/master/inst/app/www/editR.css */
#rmd_knitted, #r_knitted {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 50%;
  right: 0;
  padding-left: 10px;
  overflow-y: scroll;
}

/* Needed in combination with navbarPage with fixed-top */
/* based on https://stackoverflow.com/a/19231861/1974918 */
body {
  padding-top: 55px;
}

.navbar {
  margin-bottom: 5px;
  background-color: black;
  /* ace bg */
  /*background-color: #002240;*/
  /* sublime bg */
  /*background-color: #0f364b;*/
}

.navbar .nav > li > a {
  padding-left: 7px;
  padding-right: 8px;
}

.nav-tabs {
  margin-bottom: 10px;
}

.btn-file-solitary {
  /* border radius same as other buttons in shiny */
  border-radius: 4px !important;
}

/* likely due to bootstrap css, font set to white
with dark themes against a white background
see https://github.com/ajaxorg/ace/issues/3071 */
.ace_replace_form, .ace_search_field, .ace_replacebtn, .ace_searchbtn {
  color: black;
}
