ul, ol {
  /* make bullet left-flush */
  padding-left: 18px;
}

.table {
  width: auto;
}

/*.pagedtable, .pagetable table {*/
  /*width: auto;*/
/*}*/

.snippet th, .snippet td {
  text-align: center;
}

table.dataTable tfoot td, table.dataTable thead td {
  padding: 0 0 0 0;
}

.well {
  padding: 8px;
  margin-bottom: 5px;
}

.col-sm-4 {
  max-width: 300px;
}

.checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.form-group {
  margin-top: 5px;
  margin-bottom: 0;
}

.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
  margin-left: 0;
}

.radio-inline, .checkbox-inline {
  margin-right: 10px;
}

.modal-dialog {
  padding-top: 80px;
  padding-left: 80px;
  width: 850px;
  overflow-y: initial !important
}

.modal-sm {
  width: 600px;
}

.modal-body {
  max-height: 600px;
  overflow-y: auto;
}

img {
  max-width: 85% !important;
  height: auto;
}

pre, code, pre code {
  overflow: auto;
  /*From SO: https://stackoverflow.com/a/37073372/1974918 but doesn't seem to work */
  /*overflow: scroll !important; */
  /*-webkit-overflow-scrolling: touch !important;*/
  white-space: pre;
  background-color: #ffffff;
}

#data_filter, #tr_transform, #tr_recode, #tr_rename,
#tr_paste, #tr_create {
  max-width: 234px;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.color_bar {
  background-color: blue;
}

/* from: https://github.com/swarm-lab/editR/blob/master/inst/app/www/editR.css */
#rmd_report, #rcode_edit {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 50%;
  padding-right: 10px;
}

/* from: https://github.com/swarm-lab/editR/blob/master/inst/app/www/editR.css */
#rmd_knitted, #rcode_output {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 50%;
  right: 0;
  padding-left: 10px;
  overflow-y: scroll;
}

.navbar {
  margin-bottom: 5px;
}

.navbar .nav > li > a {
  padding-left: 7px;
  padding-right: 8px;
}

.nav-tabs {
  margin-bottom: 10px;
}
