ul, ol {
  padding-left: 18px;
}

#viz_details_main + span, #viz_details_labels + span, #viz_details_style + span {
  font-weight:bold;
}

.table {
  width: auto;
}

.snippet th, .snippet td {
  text-align: center;
}

table.dataTable tfoot td, table.dataTable thead td {
  padding: 0 0 0 0;
}

.well {
  padding: 8px;
  margin-bottom: 5px;
}

.col-sm-4 {
  max-width: 300px;
}

.checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.form-group {
  margin-top: 5px;
  margin-bottom: 0;
}

.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
  margin-left: 0;
}

.radio-inline, .checkbox-inline {
  margin-right: 10px;
}

.help-modal-dialog {
  padding-top: 80px;
  /* overflow-y: initial !important */
}

.modal-sm {
  padding-top: 80px;
  width: 600px;
}

.help-modal-body {
  max-height: 600px;
  overflow-y: auto;
}

img {
  max-width: 85% !important;
  height: auto;
}

/* based on https://stackoverflow.com/a/30338814/1974918*/
pre {
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
  background-color: #ffffff;
}

code, pre code {
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
}

#state_download {
  font-family: FontAwesome, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: black;
}

/* allow all textareas and multiple-select inputs to resize vertically */
/* have to set overfow to make resize work on Safari                   */
/* based on https://css-tricks.com/almanac/properties/r/resize/         */
textarea, select {
  resize: vertical;
  overflow: auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  margin-left: 42%;
}

.color_bar {
  background-color: blue;
}

/* from: https://github.com/swarm-lab/editR/blob/master/inst/app/www/editR.css */
#rmd_edit, #r_edit {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 50%;
  padding-right: 10px;
}

/* from: https://github.com/swarm-lab/editR/blob/master/inst/app/www/editR.css */
#rmd_knitted, #r_knitted {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 50%;
  right: 0;
  padding-left: 10px;
  overflow-y: scroll;
}

/* Needed in combination with navbarPage with fixed-top */
/* based on https://stackoverflow.com/a/19231861/1974918 */
body {
  padding-top: 55px;
}

.navbar {
  margin-bottom: 5px;
  background-color: black;
}

.navbar .nav > li > a {
  padding-left: 7px;
  padding-right: 8px;
}

.nav-tabs {
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}

/* border radius same as other buttons in shiny */
.btn-file-solitary {
  border-radius: 4px !important;
}

/* likely due to bootstrap css, font set to white */
/* with dark themes against a white background    */
/* see https://github.com/ajaxorg/ace/issues/3071 */
.ace_replace_form, .ace_search_field, .ace_replacebtn, .ace_searchbtn {
  color: black;
}
